.hero__wrapper {
    border-bottom: .1rem solid var(--main-text-color);
}
.hero {
    padding: 25rem 0 15rem;
    text-align: center;
}
.hero .title {
    margin-bottom: 3rem;
}
.hero .btn {
    margin-bottom: 3rem;
}
.hero .img {
    max-width: 70rem;
}




.policy__wrapper {
    /* border-bottom: .1rem solid var(--main-text-color);
    border-top: .1rem solid var(--main-text-color);
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    position: relative;
}
.policy__wrapper-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: .5;
}

.policy {
    padding: 10rem 0;
    text-align: center;
}
.policy .sub-title {
    margin-bottom: 8rem;
    background-color: var(--sub-text-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.policy__item:not(:last-child) {
    margin-bottom: 8rem;
}
.policy__title {
    font-family: var(--title-font);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.policy__item .text {
    margin-bottom: 2rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
.policy .btn {
    background-color: transparent;
    color: var(--third-brand-color);
}
.policy__block {
    background-color: var(--sub-text-color);
    padding: 1rem;
    width: fit-content;
    margin: 0 auto;
}






.contacts {
    padding: 12rem 0 5rem;
    text-align: center;
}
.contacts .sub-title {
    margin-bottom: 6rem;
    color: var(--second-brand-color);
}
.contacts__item:not(:last-child),
.contacts__list {
    margin-bottom: 3rem;
}

.contacts__item-link .text {
    position: relative;
}



.phrase__wrapper {
    border-bottom: 1rem solid var(--main-text-color);
    border-top: 1rem solid var(--main-text-color);
    background: linear-gradient(90deg, var(--third-brand-color) 2.1rem, transparent 1%) center, linear-gradient(var(--third-brand-color) 2.1rem, transparent 1%) center, #fff;
    background-size: 2.2rem 2.2rem;
}
.phrase {
    padding: 15rem 0;
    text-align: center;
}



@media screen and (min-width: 1440px)  {

    .hero {
        padding-top: 15rem;
        padding-bottom: 10rem;
    }

    .contacts__item-link .text::after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: .1rem;
        background-color: var(--main-text-color);
        left: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out;
    }
    .contacts__item-link .text:hover::after {
        width: 100%;
    }
  


    .policy__block {
        text-align: left;
        padding: 3rem;
    }
    .policy__block .text {
        margin-left: 0;
    }
    .policy__item:nth-child(1){
        margin-left: -40rem;
    }
    .policy__item:nth-child(2){
        margin-left: 40rem;
    }
    .policy .btn:hover {
        background-color: var(--third-brand-color);
        color: var(--sub-text-color);
    }

}